<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment</title>
</head>
<body>
    <div class="header col-lg-12" >
        <div class="col-lg-3">
            <ul >
                <li><a href="/assignment">Assignments</a></li>
                <li><a href="/done">Assignments</a></li>
                <li><a href="/profile">{{username}}</a></li>
            </ul>
        </div>
        <div class="col-lg-7">

        </div>
        <div class="col-lg-2">
            <ul >
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
        
    </div>
</body>
</html>